<div class="thumbnail">
  <img src="http://placehold.it/820x230" alt="">
  <div>
    <h4 class="pull-right">{{ product.price }}元</h4>
    <h4>{{ product.title }}</h4>
    <h4>{{ product.desc }}</h4>
  </div>
  <div style="padding: 0 10px;">
    <b class="pull-right">{{comments.length}}</b>
    <p>
      <app-stars [rating]="product.rating"></app-stars>
    </p>
  </div>
</div>

<div class="well">
  <div>
    <button (click)="isCommentHidden = !isCommentHidden" class="btn btn-success">发表评论</button>
  </div>
  <div [hidden]="isCommentHidden">
    <app-stars [readonly]="false" [(rating)]="newRating"></app-stars>
    <div>
      <textarea [(ngModel)]="newComment"></textarea>
    </div>
    <div>
      <button class="btn btn-default" (click)="addComment()">提交</button>
    </div>
  </div>
  <div class="row" *ngFor="let comment of comments">
    <hr>
    <div class="col-md-12">
      <app-stars [rating]="comment.rating"></app-stars>
      <span>{{comment.user}}</span>
      <span class="pull-right">{{comment.timestamp}}</span>
      <div>{{comment.content}}</div>
    </div>
  </div>
</div>
